@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');

@theme {
  --color-pink-50: #FDF2F8;
  --color-pink-100: #FCE7F3;
  --color-pink-200: #FBCFE8;
  --color-pink-300: #F9A8D4;
  --color-pink-400: #F472B6;
  --color-pink-500: #EC4899;
  --color-pink-600: #DB2777;

  --color-charcoal: #18181B;
  /* Zinc-900 */
  --color-gold: #C5A059;

  --font-sans: "Outfit", sans-serif;
  --font-serif: "Playfair Display", serif;
}

@layer base {
  body {
    @apply bg-gradient-to-br from-pink-50 to-white text-charcoal font-sans antialiased min-h-screen;
  }
}