@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=DM+Sans:opsz,wght@9..40,400;500;700&display=swap');

@theme {
  --color-pink-50: #FCE4EC;
  --color-pink-100: #F8BBD0;
  --color-pink-200: #F48FB1;
  --color-pink-300: #F06292;
  --color-pink-400: #EC407A;
  --color-pink-500: #E91E63;
  --color-pink-600: #D81B60;

  --color-charcoal: #212121;
  --color-gold: #C5A059;

  --font-sans: "DM Sans", sans-serif;
  --font-serif: "Playfair Display", serif;
}

@layer base {
  body {
    @apply bg-pink-50 text-charcoal font-sans antialiased;
  }
}