@import "tailwindcss";

@theme {
  --color-pink-50: #FCE4EC;
  --color-pink-100: #F8BBD0;
  --color-pink-200: #F48FB1;
  --color-pink-300: #F06292;
  --color-pink-400: #EC407A;
  --color-pink-500: #E91E63;
  --color-pink-600: #D81B60;

  --color-charcoal: #212121;
  --color-gold: #C5A059;

  --font-sans: Inter, sans-serif;
}

@layer base {
  body {
    @apply bg-pink-50 text-charcoal font-sans antialiased;
  }
}